<!-- 
<button (click)="openAll()">Open All</button> &nbsp;&nbsp;&nbsp;
<button (click)="closeAll()">Close All</button>

<app-accordionchildren title="Angular">Angular is a framework</app-accordionchildren>
<app-accordionchildren title="Javascript">Javascript is a language</app-accordionchildren>
<app-accordionchildren title="React">React is a library</app-accordionchildren> -->


<h2>FAQ Accordion</h2>

<button (click)="openAll()">
  Open All
</button>

&nbsp;&nbsp;

<button (click)="closeAll()">
  Close All
</button>

<br>
<br>

<app-accordionchildren title="Angular">
  Angular is a TypeScript-based web application framework.
</app-accordionchildren>

<app-accordionchildren title="JavaScript">
  JavaScript is a programming language used to build interactive web applications.
</app-accordionchildren>

<app-accordionchildren title="React">
  React is a JavaScript library for building user interfaces.
</app-accordionchildren>